<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav>

<main class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="outer-div">
    <div class="button-bar">
        <div  *ngIf="showbutton"><button (click)="topAgent()">Show Me Top Agent</button></div>
    </div>
    <ag-grid-angular 
        style="width: 100%; height: 200px;" 
        class="ag-theme-balham"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        (firstDataRendered)="onGridReady($event)"
        >
    </ag-grid-angular>
  </div>

  <div *ngIf="barChartLabels.length">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
          </canvas>
        </div>
  </div>
      
</main>
